In [2]:
import pandas as pd
import random

<h5>Q.1 Generate A Data Frame with 2 columns 'A','B' and random values in both columns and save it as 'Data.csv'</h5>

In [27]:
def generate_random_dataframe(path):
    df=pd.DataFrame({
        'A':[random.randrange(-10,i) for i in range(0,150)],
        'B':[random.randrange(-10,i) for i in range(0,150)]
    })
    df.to_csv(path.split('.')[0]+'.csv',index=False)
    return df

generate_random_dataframe('Data')

       A   B
0     -1  -2
1     -9 -10
2     -3  -9
3      0  -4
4     -8  -7
..   ...  ..
145    1  51
146   39  39
147  130  44
148   77  59
149   15  61

[150 rows x 2 columns]

<h5> Q.2. Read the Provided DataFrame and Get Max from both Columns </h5>

In [31]:
df=pd.read_csv('Data.csv')

#Approach 1
print(max(df['A'].to_list()),max(df['B'].to_list()))

#Approach 2
display(df.max())

130 122

A    130
B    122
dtype: int64

<h5>Q.3. Get Max and Min value from getting index with max and min value using idxmax and idxmin </h5>

In [39]:
data=pd.read_csv('Data.csv')
max_A_B=[data['A'].iloc[data['A'].idxmax()],data['B'].iloc[data['B'].idxmax()]]
min_A_B=[data['A'].iloc[data['A'].idxmin()],data['B'].iloc[data['B'].idxmin()]]
print(f'Max Values: {max_A_B}\nMinValues: {min_A_B}')

Max Values: [130, 122]
MinValues: [-10, -10]

<h5>Q.4. create new columns derived from existing columns in Pandas? C=A*B, D=A+B </h5>

In [46]:
data['C']=data['A']*data['B']
data['D']=data['A']+data['B']
data.to_csv('Data.csv',index=False)
display(data)

       A   B     C    D
0     -1  -2     2   -3
1     -9 -10    90  -19
2     -3  -9    27  -12
3      0  -4     0   -4
4     -8  -7    56  -15
..   ...  ..   ...  ...
145    1  51    51   52
146   39  39  1521   78
147  130  44  5720  174
148   77  59  4543  136
149   15  61   915   76

[150 rows x 4 columns]

<h5>Q.5. Implement this: <br><br> <img src='https://user-images.githubusercontent.com/53355899/144045594-1a5c3f78-4250-4ed8-9de3-ca3689fe08bf.png'>

In [87]:
def generate_dataframe():
    df=pd.DataFrame({
        'key':['A','B','C','A','B','C','A','B','C'],
        'data':[0,5,10,5,10,15,10,15,20]
    })
    return df

new_data=generate_dataframe()
new_data=new_data.groupby('key')['data'].sum()
display(new_data)

key
A    15
B    30
C    45
Name: data, dtype: int64

<h5>Q.6. Apply map() to change name in a provided DataFrame </h5>

In [6]:
def new_dataframe_for_map():
    df=pd.DataFrame({
        'n_key':['apple','ball','cat'],
        'val':[1,3,4]
    })


    df['n_key']=df['n_key'].map({'apple':'macbook','ball':'ball','cat':'meow'})
    return df 

display(new_dataframe_for_map())

     n_key  val
0  macbook    1
1     ball    3
2     meow    4